.per_card{
	    width: 270px;
    float: left;
    position:relative;
    margin-bottom:50px;
}

.members .per_card{
    width:220px;
}

.per_card.per_left{
	margin-right:30px;
}
.per_card.per_right{
	margin-left:30px;
}

.members .per_card.per_right{
    margin-left:47.5px;
}

.per_type{
	    width: 100%;
    height: 45px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.members .per_type{
    height:inherit;
    border-bottom:none;
    position:relative;
    margin-bottom:0;
}

.per_type_kor{
	    float: left;
    font-size: 35px;
    font-weight: 500;
}

.members .per_type_kor{
    font-size:28px;
}

.per_type_eng{
	    float: left;
    font-size: 20px;
    margin: 9px;
    font-family: BebasKai;
}

.per_type_eng_long{
    float: left;
    font-size: 16px;
    margin: 11px;
    font-family: BebasKai;
}



.per_type_eng_short{
        float: left;
    font-size: 14px;
    margin: 3px 0px;
    width: 60px;
     font-family: BebasKai;
}

.members .members_type{
        float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px 0;
    color: #266dc3;
    font-size: 16px;
    font-weight: lighter;
}

.per_img_box{
	position:relative;
}

.per_img{
	    width: 100%;
    height: 300px;
}

.members .per_img{
    height:220px;
}

.per_img img{
	width:100%;
	height:100%;
}

.per_tri_box{
	    border-top: 50px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 270px solid #266dc3;
        bottom: 0;
    position: absolute;
}

.members .per_tri_box{
    border-left: 220px solid #266dc3;
}

.per_card_data{
	width:100%;
	height:200px;
	background-color:#266dc3;
	position:relative;
}

.per_card_name_line{
	    width: 200px;
    height: 70px;
    margin: 0 auto;
    padding: 10px 0;
}

.per_card_name_kor{
	    font-size: 30px;
    color: white;
    font-weight: 500;
}

.per_card_name_box .per_card_name_kor{
    float:left;
}

.per_card_name_box .per_card_manage_what{
   float: left;
    /* margin-left: 15px; */
    font-size: 14px;
    margin: 5px 0 5px 15px;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 1px 10px;
}
.per_card_name_eng{
	    font-size: 16px;
    color: white;
    font-weight: 300;
    font-family: BebasKai;
}

.per_card_office_line{
	    width: 200px;
    margin: 0 auto;
    padding: 25px 0;
}

.members .per_card_office_line{
    padding:0;
}

.per_card_onetalk_line{
        color: white;
    font-size: 11px;
    font-weight: 300;
    width: 155px;
    /* margin: 0 auto; */
    padding: 15px 0px;
    margin-left: 10px;
}

.per_card_office_name{
	 color: white;
    font-size: 13px;
    font-weight: 500;
}

.per_card_office_det{
	 color: white;
    font-size: 12px;
    font-weight: 100;
}

.per_btn_box{
	    width: 90px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.per_btn_box img{
	    float: right;
    width: 20px;
    height: 20px;
    margin:0 5px;
}

.per_card_manage_what{

}