/*login*/
.ceos_log_container{
	width:300px;
	margin:100px auto;
	padding:50px;
	border:1px solid #d1e0f2;
}

.ceos_log_container form input[type="text"]{
	width:300px;
	height:50px;
	margin:20px 0;
	font-family:'KoPubDotum-Bold';
}

.ceos_log_container form input[type="button"]{
	width:300px;
	height:50px;
	margin:20px 0;
	font-size:20px;
	text-align:center;
	background-color:#266dc3;
	color:white;
	cursor:pointer;
	font-family:'KoPubDotum-Bold';
}
.ceos_log_container form input[type="submit"]{
	width:300px;
	height:50px;
	margin:20px 0;
	font-size:20px;
	text-align:center;
	background-color:#266dc3;
	color:white;
	cursor:pointer;
	font-family:'KoPubDotum-Bold';
}

/*register*/


.ceos_reg_container{
	    width: 400px;
    margin: 100px auto;
    padding: 50px 100px;
    border: 1px solid #d1e0f2;
}

.ceos_reg_box{
	    width: 400px;
    height: 50px;
    margin: 20px 0;
}

.ceos_reg_box .ceos_reg_name{
	    width: 100px;
    height: 20px;
    float: left;
    text-align: left;
    font-size: 20px;
    padding: 15px 0;
}

.ceos_reg_container form input[type="text"]{
	width:250px;
	height:50px;
	margin:0 0 0 50px;
	float:left;
}

.ceos_reg_container form input[type="button"]{
	    width: 400px;
    height: 50px;
    margin: 20px 0px;
    font-size: 20px;
    text-align: center;
    background-color: #266dc3;
    color: white;
    cursor: pointer;
}